.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(1px + 2vmin);
  color: white;
}

.title_btns {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
}

.title_btn {
  padding: 10px;
}

.header-btn {
  font-size: 16px;
  height: 40px;
  width: 115px;
}

.Template {
  background-color: #c5c7c6;
  border: 3px solid black;
}

.TemplateTitle {
  font-size: calc(5px + 2vmin);
  display: flex;
  align-items: left;
  justify-content: left;
}

.WorldInfoTitle {
  font-size: calc(1px + 2vmin);
}

.BasicTraitsAndSkills {
  display: flex;
  align-items: center;
  justify-content: center;
}

.BasicTraits {
  margin-left: 20px;
  margin-right: 20px;
}

.BasicTraitsTitle {
  font-size: calc(1px + 2vmin);
}

.BasicTraitsGen {
  margin-left: 10px;
  margin-bottom: 2px;
  height: 30px;
  width: 75px;
}

.Skills {
  margin-left: 20px;
  margin-right: 20px;
}

.SkillsTitle {
  font-size: calc(1px + 2vmin);
}

.SkillsGen {
  margin-left: 10px;
  margin-bottom: 2px;
  height: 30px;
  width: 75px;
}

.Personality {
  display: flex;
  align-items: center;
  justify-content: center;
}

.PersonalityHeading {
  margin-right: 10px;
}

.PersonalityTitle {
  font-size: calc(1px + 2vmin);
}

.PersonalityGen {
  margin-top: 10px;
  height: 40px;
  width: 115px;
}

.LifeInfo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.LifeInfoHeading {
  margin-right: 10px;
}

.LifeInfoTitle {
  font-size: calc(1px + 2vmin);
}

.LifeInfoGen {
  margin-top: 10px;
  height: 40px;
  width: 115px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
